header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3276b1;
    height: 7em;
    position: fixed;
    width: 100%; /* Pour que le header occupe toute la largeur */
    top: 0; /* Pour que le header reste fixé en haut */
}

body {
    margin: 0;
    padding-top: 7em; /* Ajoutez cette ligne pour compenser la hauteur du header */
    background-color: #faf8fb;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Styles CSS pour la barre de navigation */
nav {
    background-color: #3276b1;
}

ul {
    list-style: none; /* Supprime les puces des listes */
    margin: 0; /* Supprime la marge par défaut */
    padding: 0; /* Supprime le rembourrage par défaut */
}

ul li {
    display: inline; /* Les éléments de liste sont affichés en ligne */
    margin-right: 30px; /* Espacement entre les éléments de la liste */
}

h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

li a {
    font-size: 1.5em;
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

header div img {
    display: block; /* L'image en bloc pour occuper tout l'espace disponible */
    height: 110px;
}

footer {  
    color: white;
    background-color: #3276b1;
  }

/* Disposition images Biologie et vétérinaire  */

.conteneur-labo {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.conteneur-labo img {
    max-width: 100%;
    width: 80%;
}

.conteneur-labo div {
    width: 50%;
}

/* Disposition concurrents  */

.conteneur-concurrents {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.conteneur-concurrents div {
    width: 100%;
}

.conteneur-concurrents img {
    max-width: 100%;
    width: 90%;
    height: 80%;
}

/* Disposition charte graphique  */

.conteneur-charte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.conteneur-charte .img1 {
    grid-column: 2 / span 6;
    grid-row: 1;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img2 {
    grid-column: 9 / span 6;
    grid-row: 1;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img3 {
    grid-column: 2 / span 6;
    grid-row: 2;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img4 {
    grid-column: 9 / span 6;
    grid-row: 2;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img5 {
    grid-column: 2 / span 6;
    grid-row: 3;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img6 {
    grid-column: 9 / span 6;
    grid-row: 3;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img7 {
    grid-column: 9 / span 4;
    grid-row: 4;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img8 {
    grid-column: 4 / span 2;
    grid-row: 4;
}

/* Backend Disposition */

.connexion {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.connexion img {
    max-width: 100%;
    width: 80%;
    height: 80%;
}

.connexion div {
    width: 50%;
}

.indesirable {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.indesirable img {
    max-width: 100%;
    width: 90%;
    height: 80%;
}

.indesirable div {
    width: 50%;
}

.MLD img {
    width: 67%;
}

.BDD {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly;
}

.BDD img {
    width: 80%;
    height: 80%;
}

.BDD div {
    width: 50%;
}

.SQL {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-evenly;
}

.SQL img {
    width: 80%;
    height: 80%;
}

.SQL div {
    width: 50%;
}

/* Frontend disposition */

.arborescence img {
    width: 40%;
    height: 40%;
}

.zoning {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.zoning .z1 {
    grid-column: 2 / span 2;
    grid-row: 1;
    width: 90%;
    height: 80%;
}

.zoning .z2 {
    grid-column: 5 / span 2;
    grid-row: 1;
    width: 90%;
    height: 80%;
}

.zoning .z3 {
    grid-column: 8 / span 2;
    grid-row: 1;
    width: 90%;
    height: 80%;
}

.zoning .z4 {
    grid-column: 3 / span 2;
    grid-row: 2;
    width: 90%;
    height: 80%;
}

.zoning .z5 {
    grid-column: 7 / span 2;
    grid-row: 2;
    width: 90%;
    height: 80%;
}

.wireframe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.wireframe .w1 {
    grid-column: 2 / span 2;
    grid-row: 1;
    width: 90%;
    height: 80%;
}

.wireframe .w2 {
    grid-column: 5 / span 2;
    grid-row: 1;
    width: 90%;
    height: 80%;
}

.wireframe .w3 {
    grid-column: 8 / span 2;
    grid-row: 1;
    width: 90%;
    height: 80%;
}

.wireframe .w4 {
    grid-column: 2 / span 2;
    grid-row: 2;
    width: 90%;
    height: 80%;
}

.wireframe .w5 {
    grid-column: 5 / span 6;
    grid-row: 2;
    width: 90%;
    height: 80%;
}

.wireframe .w6 {
    grid-column: 3 / span 2;
    grid-row: 3;
    width: 90%;
    height: 80%;
}

.wireframe .w7 {
    grid-column: 7 / span 2;
    grid-row: 3;
    width: 90%;
    height: 80%;
}

.wireframe .w8 {
    grid-column: 3 / span 7;
    grid-row: 4;
    width: 90%;
    height: 80%;
}

.wireframe .w9 {
    grid-column: 2 / span 4;
    grid-row: 5;
    width: 90%;
    height: 80%;
}

.wireframe .w10 {
    grid-column: 7 / span 4;
    grid-row: 5;
    width: 90%;
    height: 80%;
}

.mockup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.mockup .m1 {
    grid-column: 2 / span 2;
    grid-row: 1;
    width: 100%;
    height: 90%;
}

.mockup .m2 {
    grid-column: 5 / span 2;
    grid-row: 1;
    width: 100%;
    height: 90%;
}

.mockup .m3 {
    grid-column: 8 / span 4;
    grid-row: 1;
    width: 100%;
    height: 90%;
}

.mockup .m4 {
    grid-column: 2 / span 6;
    grid-row: 2;
    width: 100%;
    height: 90%;
}

.mockup .m5 {
    grid-column: 9 / span 2;
    grid-row: 2;
    width: 100%;
    height: 90%;
}

.mockup .m6 {
    grid-column: 2 / span 2;
    grid-row: 3;
    width: 100%;
    height: 90%;
}

.mockup .m7 {
    grid-column: 5 / span 6;
    grid-row: 3;
    width: 100%;
    height: 90%;
}

.mockup .m8 {
    grid-column: 2 / span 4;
    grid-row: 4;
    width: 100%;
    height: 90%;
}

.mockup .m9 {
    grid-column: 7 / span 4;
    grid-row: 4;
    width: 100%;
    height: 90%;
}

/* Bordure des images */

img {
    border: 1px solid black;
}

/* Formulaire + bouton page suivante  */

.formulaire {
    border: 2px solid black;
    margin: 0em 35em;
    padding-bottom: 2em;
    margin-top: 5em;
    background-color: #3276b1;
    color: white;
}

.formulaire h2 {
    font-size: 2em;
}

.formulaire p {
    font-size: 1.2em;
}

.inscription {
    margin-top: 3em;
    background-color: #ff6363;
    color: rgb(0, 0, 0);
    width: 7em;
    height: 2em;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.pagesuivante {
    margin: 3em 0em;
    background-color: #ff6363;
    color: rgb(0, 0, 0);
    width: 7em;
    height: 2em;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}