header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3276b1;
    height: 7em;
    position: fixed;
    width: 100%; /* Pour que le header occupe toute la largeur */
    top: 0; /* Pour que le header reste fixé en haut */
}

body {
    margin: 0;
    padding-top: 7em; /* Ajoutez cette ligne pour compenser la hauteur du header */
    background-color: rgb(211, 211, 211);
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Styles CSS pour la barre de navigation */
nav {
    background-color: #3276b1;
}

ul {
    list-style: none; /* Supprime les puces des listes */
    margin: 0; /* Supprime la marge par défaut */
    padding: 0; /* Supprime le rembourrage par défaut */
}

ul li {
    display: inline; /* Les éléments de liste sont affichés en ligne */
    margin-right: 30px; /* Espacement entre les éléments de la liste */
}

h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

li a {
    font-size: 1.5em;
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

header div img {
    display: block; /* L'image en bloc pour occuper tout l'espace disponible */
    height: 112px;
}

footer {  
    background-color: #3276b1;
  }
/* 
section img {
    max-width: 60%;
    height: 60%;
} */

/* Disposition images Biologie et vétérinaire  */

.conteneur-labo {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.conteneur-labo img {
    max-width: 100%;
    width: 80%;
}

.conteneur-labo div {
    width: 50%;
}

/* Disposition concurrents  */

.conteneur-concurrents {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.conteneur-concurrents div {
    width: 100%;
}

.conteneur-concurrents img {
    max-width: 100%;
    width: 90%;
    height: 80%;
}

/* Disposition charte graphique  */

.conteneur-charte {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.conteneur-charte .img1 {
    grid-column: 2 / span 6;
    grid-row: 1;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img2 {
    grid-column: 9 / span 6;
    grid-row: 1;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img3 {
    grid-column: 2 / span 6;
    grid-row: 2;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img4 {
    grid-column: 9 / span 6;
    grid-row: 2;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img5 {
    grid-column: 2 / span 6;
    grid-row: 3;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img6 {
    grid-column: 9 / span 6;
    grid-row: 3;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img7 {
    grid-column: 9 / span 4;
    grid-row: 4;
    height: 80%;
    width: 100%;
}

.conteneur-charte .img8 {
    grid-column: 2 / span 2;
    grid-row: 4;
}

.conteneur-charte .img9 {
    grid-column: 5 / span 2;
    grid-row: 4;
}